<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css01.css') }}">
    <title>Soft UI PRO</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Soft UI PRO</h1>
            <nav>
                <ul>
                    <li>Pages</li>
                    <li>Account</li>
                    <li>Blocks</li>
                    <li>Docs</li>
                </ul>
            </nav>
            <button>BUY NOW</button>
        </div>
    </header>
</body>
</html>